// Colors
$c-auro-metal-saurus: #6c757d;
$c-philippine-silver: #b6b6b6;
$c-dark-gunmetal: #212529;
$c-ghost-white: #f8f9fa;
$c-bright-gray: #e9ecef;
$c-davys-grey: #495057;
$c-onyx: #343a40;
// Fonts
$ff-base: 'Antonio';
